@import url("slyle/header.css");

:root{
    --cor-de-fundo: #ebecee;
    --brnco: #ffffff;
}

body{
    background-color: var(--cor-de-fundo);
}

.cabecalho-menu-hamburguer{
    width:24xp;
    height:24xp;
    background-color: url("../Ima/Menu.svg");
    display: inline-block;
}

.cabecalho{
    background-color:var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.container{
    display:flex;
    align-items: center;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100;
}

.container-botão:checked ~ .lista-menu{
    display:block;
}
